@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Poller One', cursive;
    background-image: url("../Images/sky.jpg");
    background-attachment: fixed;
    color: goldenrod;
}

header{
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 15px 15px 0 0;
}

nav>ul{
    list-style-type: none;
    position: fixed;
    top: 5px;
}

nav li{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    display: inline;
}

h1{
    text-align: center;
    padding: 0.5em 0;
}

footer{
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 0 0 15px 15px;
    height: 4em;
}

.button{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    width: fit-content;
    height: 2em;
}